body {
  background-color: #131518;
  color: white;
  font-family: "Overpass", sans-serif;
}

p {
  margin: 0;
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#form,
.thankyou-container {
  margin-top: 5rem;
  max-height: 416px;
  max-width: 416px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  gap: 2rem;
  padding: 2rem;
}

.selector {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.thankyou-container {
  align-items: center;
  display: none;
}

fieldset {
  display: flex;
  border: 0;
  padding: 0;
  justify-content: center;
}

.radio-button-wrapper {
  display: flex;
}

.content {
  font-size: 1rem;
  color: #969fad;
}

.star {
  align-self: flex-start;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #262e38;
  border-radius: 50%;
  padding: 1rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.selector label {
  display: flex;
  height: 50px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: #969fad;
  background-color: #262e38;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 1rem;
}

.selector input:checked + label,
.selector label:hover {
  background-color: #fc7614;
  color: white;
}

input[type="radio"] {
  display: none;
}

input[type="submit"] {
  background-color: #fc7614;
  padding: 1rem 4rem;
  border-radius: 1.5rem;
  font-family: "Overpass", sans-serif;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

img {
  width: 144px;
  height: 96px;
}

footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
